[submodule "src/Settings"]
	path = src/Settings
	url = https://github.com/Windore/Settings.git
[submodule "src/Simulations2D"]
	path = src/Simulations2D
	url = https://github.com/Windore/Simulations2D.git
